<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Apps</title>
    <link rel="stylesheet" href="styles.css">
    <!-- Vue.jsのCDNを追加 -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
</head>

<body>
    <header>
        <hr>
        <h1>My Apps</h1>
        <hr>
    </header>

    <main id="app">
        <!-- サイドバー -->
        <div class="sidebar">
            <h2>Sidebar</h2>
            <!-- v-forディレクティブを使用してリストアイテムをループ -->
            <ul>
                <li v-for="app in apps">
                    <a :href="app.url">{{ app.name }}</a>
                </li>
            </ul>
        </div>

        <hr>
        <section id="main-content">
            <article>
                <!-- メインコンテンツ -->
                <ul>
                    <li v-for="app in apps">
                        <a :href="app.url">{{ app.name }}</a>
                        <p>{{ app.description }}</p>
                    </li>
                </ul>
            </article>
        </section>
    </main>

    <footer>
        <hr>
        <p>2024 My Apps</p>
        <hr>
    </footer>

    <script>
        // Vueインスタンスを作成
        new Vue({
            el: '#app', // マウントポイント
            data: {
                apps: [
                    { name: 'Recent Earthquake', url: 'https://tztechno.github.io/tz_js_20240217_leaflet/emap_now4.html', description: 'Displays earthquakes that occurred around Japan in the past month, color-coded by magnitude. Large earthquakes often occur within the range of earthquake swarms, so by checking this, you can find out the danger range.' },
                    { name: 'Tarot Reading', url: 'https://app-tarrot-reading-mlnessbppgllzg2dns5pfc.streamlit.app', description: 'You can do tarot reading by yourself. Cards predict your past, present, and future.' },
                    { name: 'Tags Remover', url: 'https://app-tags-remover-sbkxegmeb9kavsurgowb6d.streamlit.app/', description: 'Remove unnecessary line breaks, tabs, and spaces hidden in your text. Please use it when copying and pasting sentences.' }
                ]
            }
        });
    </script>

</body>

</html>
